/* Word sans */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;600;700;800&display=swap');
/* shared styles */

* {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
}
.btn-primary {
  padding: 1.17rem 1.25rem;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin: 20px;
}
.description-text {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #727272;
  word-spacing: 4px;
  padding: 20px;
}
.font-size-up {
  font-size: 2rem;
  padding-top: 27px;
}
/* header style */
header {
  background-color: bisque;
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500px;
}
nav li a {
  color: #424242;
  text-decoration: none;
}
.nav-title {
  font-size: 3rem;
  font-weight: 700px;
  color: #131313;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700px;
}

.banner-png {
  width: 100%;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
/* teams section styles start */
.teams-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-right: 70px;
  padding-left: 70px;
}
.teams-title {
  font-size: 2.8rem;
}
.quick-list {
  font-weight: 500px;
  color: #727272;
}
.our {
  font-weight: bold;
  color: #131313;
}
.text-features {
  font-weight: bolder;
  color: #ff900e;
}
/* facts section  */
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  border: 2px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.card-stats {
  font-size: 2.8rem;
  color: #424242;
}
.card-title {
  font-weight: 600;
  color: #72727277;
  font-size: 1.3rem;
  margin-top: 5px;
}
.sponsors {
  text-align: center;
}
.sponsors-img {
  display: flex;
  margin-top: 50px;
  width: 165px;
  gap: 80px;
  margin: 0 auto;
  justify-content: space-evenly;
}
/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .facts-card-container,
  .sponsors-img {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .facts-container {
    /* text-align: center; */
    padding: 25px;
  }
  .facts-card-container,
  .sponsors-img {
    gap: 20px;
  }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 922px) {
  nav,
  .teams-container {
    flex-direction: column;
  }
  header {
    padding: 20px;
  }
  .facts-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .facts-container {
    padding: 60px;
  }
  .sponsors-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
